<tr>
    <td>
        <small>{{hp_name}}</small>
    </td>
    <td style="font-size:small;">
        <small>{{this.hp_desc}}</small>
    </td>
    <td class="text-center">
        <small>{{dateFormat this.hp_startdate "YYYY-MM-DD"}}</small>
        <br>
        <small>{{dateFormat this.hp_startdate "h:mm a"}}</small>
    </td>
    <td class="text-center">
        <small>{{dateFormat this.hp_enddate "YYYY-MM-DD"}}</small>
        <br>
        <small>{{dateFormat this.hp_enddate "h:mm a"}}</small>
    </td>
    <td class="text-center">
        <small>{{this.hp_location}}</small>
    </td>
    <td class="text-center">
        <small
            style="color: {{#equals participants_count hp_maxCap}}red{{else}}#2F8250{{/equals}};">{{participants_count}}/{{this.hp_maxCap}}</small>
    </td>
    <td class="text-center">
        {{#equals participants_count hp_maxCap}}
        {{!-- <span tabindex="0" data-toggle="tooltip" data-placement="right" title="You already sent your response to this applicant"></span>
        <small><button class="btn btn-secondary" role="button" style="pointer-events: none;" disabled>Register</button></small> --}}
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
            title="{{hp_name}} has already reached the maximum number of patients">
            <button class="btn btn-secondary" style="pointer-events: none;" type="button" disabled>Register</button>
        </span>
        {{else}}
        {{#if user_active}}
        <small><a class="btn btn-success" role="button" data-toggle="modal" data-target="#a{{_id}}">Register</a></small>
        {{else}}
        <small><a class="btn btn-success" role="button" data-toggle="modal"
                data-target="#loginModal">Register</a></small>
        {{/if}}
        {{!-- <small><a class="btn btn-success" role="button" onclick="{{#if ../user_active}}register_user('{{this.hp_name}}'){{else}}register(){{/if}}">Register</a></small> --}}
        {{/equals}}
    </td>
</tr>

{{!-- Register Health Program Modal --}}
<div class="modal fade" id="a{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Registration Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registerUserProgram" method="post" action="/registerhealth/{{_id}}/status">
                    <div class="form-group">
                        <div class="col-12">
                            <label for="streetAdd"
                                style="margin-left: -220px; font-weight:bolder; font-size: 13px">Reason for joining the
                                program<span class="text-danger"> *</span></label>
                            <textarea class="form-control" id="reason" name="reason" class="access required"
                                data-errormsg="reasonErrorMsg" aria-describedby="homeAdd" placeholder=""
                                value=""></textarea>
                        </div>
                        {{!-- <p class="hide reasonErrorMsg error">Please enter first name</p>
                        <div style="font-size: 12px; color: red; margin-left: -400px"></div> --}}

                    </div>

                    <input type="hidden" value="{{hp_name}}" name="hp_name" id="hp_name" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="programsave">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script>

    function check(hp_name) {
        alert("You have successfuly registered to " + hp_name);
    }

    function register_user(hp_name) {
        //var hp_confirm = confirm("Do you want to register in the following program: " + hp_name );

        //$('.reasonErrorMsg').show();

        //var yes = document.getElementById('reason').value 
        //if(yes=='')
        var reason = $('#reason').val()
        var exposure = $('#exposure').val()
        //if(reason == ''){
        //    $('.reasonErrorMsg').show();
        //    $('#programsave').prop('disabled',true);
        //} else{
        //   $('#programsave').prop('disabled',false);
        // }
        //if(exposure == ''){
        //  $('.exposureErrorMsg').show();
        //   $('#programsave').prop('disabled',true);
        //} else{
        //  $('#programsave').prop('disabled',false);
        //}

        //if (hp_confirm == true) {
        //$.ajax({
        //    url: "/healthprograms-reserve/",
        //    data: { id: self },
        //    success: function (response) {
        //        alert("Successfully reserved! Please check your dashboard.")
        //    },
        //    error: function (xhr) { }
        //});
        //} 

        if (reason == '') || (exposure == ''){
            $('.exposureErrorMsg').show();
            $('#programsave').prop('disabled', true);
        }
        else {
            $('.exposureErrorMsg').hide();
            $('#programsave').prop('disabled', false);
        }
    }
</script>