{{#invalid this.hp_enddate}}

{{else}}
<tr style="background-color:rgba(255, 255, 255, 0.878)">
    <td>
        <small>{{hp_name}}</small>
    </td>
    <td style="font-size:small;">
        <small>{{this.hp_desc}}</small>
    </td>
    <td class="text-center">
        <small>{{dateFormat this.hp_startdate "YYYY-MM-DD"}}</small>
        <br>
        <small>{{dateFormat this.hp_startdate "h:mm a"}}</small>
    </td>
    <td class="text-center">
        <small>{{dateFormat this.hp_enddate "YYYY-MM-DD"}}</small>
        <br>
        <small>{{dateFormat this.hp_enddate "h:mm a"}}</small>
    </td>
    <td class="text-center">
        <small>{{this.hp_location}}</small>
    </td>
    <td class="text-center">
        <small
            style="color: {{#equals participants_count hp_maxCap}}red{{else}}#2F8250{{/equals}};">{{participants_count}}/{{this.hp_maxCap}}</small>
    </td>
    <td class="text-center">
        {{#if admin_active}}
        {{!-- <div style="position: relative; height: 200px">
            <div style="margin:0; position:absolute; top: 50%; left:50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);"> --}}
                <small><a class="btn btn-success" role="button" style="font-size:10px"><span style="font-size: 15px;"><i class="fas fa-pen"></i></span></a></small>
                <small><a class="btn btn-danger" role="button" style="font-size:10px"><span style="font-size: 15px;"><i class="fas fa-trash-alt"></i></span></a></small>
            {{!-- </div>
        </div> --}}
        {{else}}

            {{#equals participants_count hp_maxCap}}
                {{!-- <span tabindex="0" data-toggle="tooltip" data-placement="right" title="You already sent your response to this applicant"></span>
                <small><button class="btn btn-secondary" role="button" style="pointer-events: none;" disabled>Register</button></small> --}}
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                    title="{{hp_name}} has already reached the maximum number of participants">
                    <button class="btn btn-secondary" style="pointer-events: none;" type="button" disabled>Register</button>
                </span>
                {{else}}
                {{#if user_active}}
                    {{#check_program user participants}}
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                        title="You are already registered to {{hp_name}}">
                        <button class="btn btn-secondary" style="pointer-events: none;" type="button" disabled>Register</button>
                    </span>
                    {{else}}
                        <small><a class="btn btn-success" role="button" data-toggle="modal" data-target="#a{{_id}}">Register</a></small>
                    {{/check_program}}
                {{else}}
                <small><a class="btn btn-success" role="button" data-toggle="modal"
                        data-target="#loginModal">Register</a></small>
                {{/if}}
                    {{!-- <small><a class="btn btn-success" role="button" onclick="{{#if ../user_active}}register_user('{{this.hp_name}}'){{else}}register(){{/if}}">Register</a></small> --}}
            {{/equals}} 
        {{/if}}   
            
    </td>
</tr>

{{!-- Register Health Program Modal --}}
<div class="modal fade" id="a{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Registration Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registerUserProgram" method="post" action="/registerhealth/{{_id}}/status">
                    <div class="form-group">
                        <div class="col-12">
                            <label for="streetAdd"
                                style="margin-left: -220px; font-weight:bolder; font-size: 13px">Reason for joining the
                                program<span class="text-danger"> *</span></label>
                            <textarea class="form-control" id="reason" name="reason" class="access required"
                                data-errormsg="reasonErrorMsg" aria-describedby="homeAdd" placeholder=""
                                value=""></textarea>
                        </div>
                        {{!-- <p class="hide reasonErrorMsg error">Please enter first name</p>
                        <div style="font-size: 12px; color: red; margin-left: -400px"></div> --}}

                    </div>

                    {{!-- <input type="hidden" value="{{this.hp_enddate}}" name="hp_enddate" id="hp_enddate"/>  --}}
                    {{!-- <input type="hidden" value="{{dateFormat this.hp_enddate "MMM-DD-YYYY"}}" name="hp_enddate" id="hp_enddate"/> 
                    <input type="hidden" value="{{dateFormat this.hp_startdate "MMM-DD-YYYY"}}" name="hp_startdate" id="hp_startdate"/> 
                    <input type="hidden" value="{{dateFormat this.hp_enddate "h:mm a"}}" name="hp_endtime" id="hp_endtime"/> 
                    <input type="hidden" value="{{dateFormat this.hp_startdate "h:mm a"}}" name="hp_starttime" id="hp_starttime"/> 
                    <input type="hidden" value="{{hp_location}}" name="hp_location" id="hp_location"/>  --}}
                    <input type="hidden" value="{{_id}}" name="hp_id" id="hp_id" />
                    <input type="hidden" value="{{hp_name}}" name="hp_name" id="hp_name" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="programsave">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/invalid}}

 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>