{{#invalid this.hp_enddate}}

{{else}}
<tr style="background-color:rgba(255, 255, 255, 0.878)">
    <td>
        <small>{{hp_name}}</small>
    </td>
    <td style="font-size:small; text-align:justify">
        <small>{{this.hp_desc}}</small>
    </td>
    <td class="text-center">
        <small>{{dateFormat this.hp_startdate "YYYY-MM-DD"}}</small>
        <br>
        <small>{{dateFormat this.hp_startdate "h:mm a"}}</small>
    </td>
    <td class="text-center">
        <small>{{dateFormat this.hp_enddate "YYYY-MM-DD"}}</small>
        <br>
        <small>{{dateFormat this.hp_enddate "h:mm a"}}</small>
    </td>
    <td class="text-center">
        <small>{{this.hp_location}}</small>
    </td>
    <td class="text-center">
        <small
            style="color: {{#equals participants_count hp_maxCap}}red{{else}}#2F8250{{/equals}};">{{participants_count}}/{{this.hp_maxCap}}</small>
    </td>
    <td class="text-center">
        {{#if admin_active}}
        {{!-- <div style="position: relative; height: 200px">
            <div style="margin:0; position:absolute; top: 50%; left:50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);"> --}}
                <small><a class="btn btn-success" role="button" style="font-size:10px; margin-bottom: 7px" data-toggle="modal" data-target="#editHP{{_id}}"><span style="font-size: 15px;"><i class="fas fa-pen"></i></span></a></small>
                <small><a class="btn btn-danger" role="button" style="font-size:10px" data-toggle="modal" data-target="#deleteHP{{_id}}"><span style="font-size: 15px;"><i class="fas fa-trash-alt"></i></span></a></small>
            {{!-- </div>
        </div> --}}
            {{!-- <div class="dropdown_hp">
                <i class="fas fa-ellipsis-h" style="color: gray"></i>
                <div class="dropdown-content">
                    <a href="#"><i class="fas fa-pen" style="color: gray"></i> Edit</a>
                    <a href="#"><i class="far fa-trash-alt" style="color:rgb(175, 43, 43)"></i> Delete</a>
                </div>
            </div> --}}
        {{else}}

            {{#equals participants_count hp_maxCap}}
                {{!-- <span tabindex="0" data-toggle="tooltip" data-placement="right" title="You already sent your response to this applicant"></span>
                <small><button class="btn btn-secondary" role="button" style="pointer-events: none;" disabled>Register</button></small> --}}
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                    title="{{hp_name}} has already reached the maximum number of participants">
                    <button class="btn btn-secondary" style="pointer-events: none;" type="button" disabled>Register</button>
                </span>
                {{else}}
                {{#if user_active}}
                    {{#check_program user participants}}
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                        title="You are already registered to {{hp_name}}">
                        <button class="btn btn-secondary" style="pointer-events: none;" type="button" disabled>Register</button>
                    </span>
                    {{else}}
                        <small><a class="btn btn-success" role="button" data-toggle="modal" data-target="#a{{_id}}">Register</a></small>
                    {{/check_program}}
                {{else}}
                <small><a class="btn btn-success" role="button" data-toggle="modal"
                        data-target="#loginModal">Register</a></small>
                {{/if}}
                    {{!-- <small><a class="btn btn-success" role="button" onclick="{{#if ../user_active}}register_user('{{this.hp_name}}'){{else}}register(){{/if}}">Register</a></small> --}}
            {{/equals}} 
        {{/if}}   
            
    </td>
</tr>

{{!-- Register Health Program Modal --}}
<div class="modal fade" id="a{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Registration Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registerUserProgram" method="post" action="/registerhealth/{{_id}}/status">
                    <div class="form-group">
                        <div class="col-12">
                            <label for="streetAdd"
                                style="margin-left: -220px; font-weight:bolder; font-size: 13px">Reason for joining the
                                program<span class="text-danger"> *</span></label>
                            <textarea class="form-control" id="reason" name="reason" class="access required"
                                data-errormsg="reasonErrorMsg" aria-describedby="homeAdd" placeholder=""
                                value=""></textarea>
                        </div>
                        {{!-- <p class="hide reasonErrorMsg error">Please enter first name</p>
                        <div style="font-size: 12px; color: red; margin-left: -400px"></div> --}}

                    </div>

                    {{!-- <input type="hidden" value="{{this.hp_enddate}}" name="hp_enddate" id="hp_enddate"/>  --}}
                    {{!-- <input type="hidden" value="{{dateFormat this.hp_enddate "MMM-DD-YYYY"}}" name="hp_enddate" id="hp_enddate"/> 
                    <input type="hidden" value="{{dateFormat this.hp_startdate "MMM-DD-YYYY"}}" name="hp_startdate" id="hp_startdate"/> 
                    <input type="hidden" value="{{dateFormat this.hp_enddate "h:mm a"}}" name="hp_endtime" id="hp_endtime"/> 
                    <input type="hidden" value="{{dateFormat this.hp_startdate "h:mm a"}}" name="hp_starttime" id="hp_starttime"/> 
                    <input type="hidden" value="{{hp_location}}" name="hp_location" id="hp_location"/>  --}}
                    <input type="hidden" value="{{_id}}" name="hp_id" id="hp_id" />
                    <input type="hidden" value="{{hp_name}}" name="hp_name" id="hp_name" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="programsave">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- Delete Health Program Modal --}}
<div class="modal fade" id="deleteHP{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="deleteHP" method="post" action="/deleteHP/{{_id}}">
                    <input type="hidden" value="{{hp_name}}" name="hp_name" id="hp_name"/> 
                    <p style="text-align:left; padding: 10px">Are you sure you want to <span style="color:red">delete</span> {{hp_name}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" id="programsave">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{{!-- Edit Health Program Modal --}}
<div class="modal fade" id="editHP{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Edit Program <span style="font-size: 20px;"><i class="fas fa-pen"></i></span> </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editHP" method="POST" action="/editHP/{{_id}}">
                    <div class="form-group" style="text-align: left; margin-bottom: 5px;">
                         <div class="form-row">
                            <div class="form-group col-md-9">
                                <label for="hp_name" style="font-weight:500;">Health Program Name<span class="text-danger"> *</span></label>
                                <textarea class="form-control" id="hp_name" name="hp_name" style="height: 38px; width: 350px">{{this.hp_name}}</textarea>
                                <p style="color: red; font-size: 13.5px;">{{details.hp_nameError}}</p>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="hp_cap" style="font-weight:500;">Cap<span class="text-danger"> *</span></label>
                                <input type="number" class="form-control" id="hp_cap" name="hp_cap" value={{this.hp_maxCap}}
                                    min="1">
                                <p style="color: red; font-size: 13.5px;">{{details.hp_capError}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: left;  margin-bottom: 5px;">
                         <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="hp_startdate" style="font-weight:500;">Start Date<span class="text-danger"> *</span></label>
                                <input type="date" class="form-control" id="hp_startdate" name="hp_startdate" value={{dateFormat this.hp_startdate "YYYY-MM-DD"}}>
                                 <p style="color: red; font-size: 13.5px;">{{details.hp_startdateError}}</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="hp_enddate" style="font-weight:500;">End Date<span class="text-danger"> *</span></label>
                                <input type="date" class="form-control" id="hp_enddate" name="hp_enddate" value={{dateFormat this.hp_enddate "YYYY-MM-DD"}}>
                                <p style="color: red; font-size: 13.5px;">{{details.hp_enddateError}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: left;  margin-bottom: 5px;">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="hp_starttime" style="font-weight:500;">Start Time<span class="text-danger"> *</span></label>
                                <input type="time" class="form-control" id="hp_starttime" name="hp_starttime" value={{dateFormat this.hp_startdate "HH:mm"}}>
                                <p style="color: red; font-size: 13.5px;">{{details.hp_starttimeError}}</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="hp_endtime" style="font-weight:500;">End Time<span class="text-danger"> *</span></label>
                                <input type="time" class="form-control" id="hp_endtime" name="hp_endtime" value={{dateFormat this.hp_enddate "HH:mm"}}>
                                <p style="color: red; font-size: 13.5px;">{{details.hp_endtimeError}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: left;  margin-bottom: 5px;">
                        <div class="form-row">
                            <div class="form-group col-md-14">
                                <label for="hp_location" style="font-weight:500;">Location<span class="text-danger"> *</span></label>
                                <textarea class="form-control" id="hp_location" name="hp_location" style="height: 40px; width: 467px">{{this.hp_location}}</textarea>
                                <p style="color: red; font-size: 13.5px;">{{details.hp_locationError}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: left;">
                         <div class="form-group">
                            <label for="hp_description" style="font-weight:500;">Description<span class="text-danger"> *</span></label>
                            <textarea class="form-control" id="hp_description" name="hp_description" rows="3">{{this.hp_desc}}</textarea>
                            <p style="color: red; font-size: 13.5px;">{{details.hp_descriptionError}}</p>
                        </div>
                    </div>

                    <input type="hidden" value="{{hp_name}}" name="hp_name" id="hp_name"/> 
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="programsave">Confirm</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
{{/invalid}}

 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>