<tr>
    <td>
        {{this.appointment_name}}
    </td>
    <td>
        {{dateFormat this.appointment_date "h:mm a"}}
    </td>
    <td>
        {{dateFormat this.appointment_date "YYYY-MM-DD"}}
    </td>
    <td class="text-center">
        <small><a class="btn btn-success" role="button" onclick="reschedApp('{{this._id}}')">Reschedule</a></small>
    </td>
    <td class="text-center">
        <small>
            <button class="btn btn-danger"
                onclick="cancelApp('{{this._id}}', '{{this.appointment_date}}')">Cancel</button>

            {{!-- <a class="btn btn-danger" role="button" data-toggle="modal" data-target="#doc{{_id}}">Cancel</a> --}}
        </small>
    </td>
</tr>

{{!-- Cancel Health Program Modal --}}
<div class="modal fade" id="doc{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cancelDocAppointmentTitle">Confirm Cancel</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/profile/deleteapp?id={{_id}}&doc={{this.appointment_name}}">
                    <input type="hidden" value="{{this.appointment_name}}" name="doctorApp_name">
                    <div style="text-align:left; padding: 10px; ">
                        <p class="cancelDocAppointmentSuccess" style="display:initial;">
                            Are you sure you want to <span style="color:red">cancel</span> your appointment with
                            {{this.appointment_name}} on {{dateFormat this.appointment_date "MMMM DD, YYYY"}}?</p>
                        <p class="cancelDocAppointmentFail" style="display:initial;">Sorry!
                            You cannot cancel this appointment because it's within 7 days from now.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger cancelDocAppointmentButton"
                            style="display:initial;">Confirm</button>
                        {{!-- <a class="btn btn-danger cancelDocAppointmentButton" role="button"
                            style="display:initial;"
                            href="/profile/deleteapp?id={{_id}}&doc={{this.appointment_name}}">Confirm</a> --}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>