{{#invalid this.hp_enddate}}

{{else}}
<tr>
    <td>
        {{hp_name}}
    </td>
    <td>
        {{dateFormat hp_startdate "h:mm a"}}
    </td>
    <td>
        {{dateFormat this.hp_startdate "YYYY-MM-DD"}}
    </td>
    <td class="text-center">
        <small><a class="btn btn-danger" role="button" data-toggle="modal" data-target="#a{{_id}}">Cancel</a></small>
    </td>
</tr>
</tr>
{{/invalid}}

{{!-- Cancel Health Program Modal --}}
<div class="modal fade" id="a{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Confirm Cancel</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cancelUserProgram" method="post" action="/canceluserhealth/{{_id}}/status">

                    <input type="hidden" value="{{hp_name}}" name="hp_name" id="hp_name"/> 
                    <p style="text-align:left; padding: 10px">Are you sure you want to <span style="color:red">cancel</span> your registration to {{hp_name}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" id="programsave">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>