<head>

    <link rel="stylesheet" type="text/css" media="all" href="/css/profile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6f00e67846.js" crossorigin="anonymous"></script>

<link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>

</head>

<body style="background-color: rgb(243, 243, 243); margin: 0; font-family: 'Roboto Mono';">
    <!-- Navigation Bar -->
    <!-- Sticky Vertical Navigation Bar -->
    <ul class="vertical-navbar">
        <li>
            <p class="h1 shrink gradient-text"
                style="text-align: center; margin-left: 8px; margin-top: .5rem; font-family: 'Montserrat', sans-serif;">
                DoloMed <i class="far fa-hospital"></i></p>
        </li>
        <hr>
        <li>
            <a href="/health-programs" style="font-size: medium;">Health Programs</a>
        </li>
        <li><a href="/doctors" style="font-size: medium;">Doctors</a></li>
        <li><a href="/appointments" style="font-size: medium;">Appointments</a></li>
    </ul>

    <!-- Sticky Horizontal Navigation Bar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark"
        style="height: 72px; padding-top: 1rem; margin-left: 20%;">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <h6 style="font-family: 'Roboto Mono';">{{user.name.last}}, {{user.name.first}} {{user.name.middle}}
                </h6>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style="list-style-type: none;">
            <li class="nav-item dropdown {{#if login_active}}show{{/if}}">
                <a class="nav-link dropdown-toggle caret-off" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="{{#if login_active}}true{{else}}false{{/if}}">
                    <h6>Settings</h6>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-4 {{#if login_active}}show{{/if}}"
                    aria-labelledby="navbarDropdownMenuLink">
                    <div class="container-fluid m-auto text-center p-auto">
                        <form method="POST">
                            <div class="text-center px-3">
                                <h6><a href="/account" style="color:#2F8250;">Account</a></h6>
                                <hr>
                                <h6><a href="/logout" style="color:#2F8250;">Log Out</a></h6>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <!-- End of Navigation Bar -->

    <div class="profile-content">
        
        <p  class="h1" style="font-size: 13vh; font-family: 'Montserrat', sans-serif; color: #2F8250">Account</p>
        <p style="font-size: 25px; font-family: 'Montserrat', sans-serif; color: #2F8250">Update your profile.</p>

            <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem;">
                <div class="card-body">
                    <div class="card-text">

                        <div class="row">
                            <div class="col pr-2">
                                <h5><u>First Name</u></h5>
                                <h6>{{user.name.first}}</h6>
                            </div>
                            <div class="col pr-2">
                                <h5><u>Middle Name</u></h5>
                                <h6>{{user.name.middle}}</h6>
                            </div>
                            <div class="col pl-2">
                                <h5><u>Last Name</u></h5>
                                <h6>{{user.name.last}}</h6>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col pr-2">
                                <h5><u>Home Address</u></h5>
                                <h6>{{user.address}}</h6>
                            </div>
                            <div class="col pl-2">
                                <h5><u>Contact Number</u></h5>
                                <h6>{{user.phone}}</h6>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col pr-2">
                                <h5><u>Emergency Contact Person</u></h5>
                                <h6>{{user.eContactPerson}}</h6>
                            </div>
                            <div class="col pl-2">
                                <h5><u>Relationship</u></h5>
                                <h6>{{user.relationship}}</h6>
                            </div>
                        </div>

                        <br>

                        <h5><u>Emergency Contact Number</u></h5>
                        <h6>{{user.eContactNum}}</h6>

                        <br>

                        
                    </div>
                </div>
            </div>
        
        <div>
            <center>
                <button type="submit" class="btn btn-primary w-25" data-toggle="modal" data-id="2" data-target="#accountEdit">Edit</button>
            </center>
        </div>

        <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem; margin-top: 2rem;">
            <div class="card-body">
                <div class="card-title" style="font-size: 45px; font-family: 'Montserrat', sans-serif; color: #2F8250;">
                    Medical History</div>
                <div class="card-text">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Past Medical Problems</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{user.medHistory}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <center>
                <button type="submit" class="btn btn-primary w-25" data-toggle="modal" data-id="2" data-target="#medHistoryEdit">Edit</button>
            </center>
        </div>
    </div>


<div class="modal fade" id="accountEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">{{user.name.last}}, {{user.name.first}} {{user.name.middle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateProfile" method="post" action="/updateProfile">
                    
                        <div class="form-group">
                            
                                <div class="col-12" >
                                    <label for="streetAdd">Home Address<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" id="homeAdd" name="homeAdd"
                                        aria-describedby="homeAdd" placeholder="Home Address"
                                        value="{{user.address}}" />
                                </div>
                                <div class="col-sm-10" style="font-size: smaller; color: red"></div>
                            
                        </div>
                        <div class="form-group">
                            
                                <div class="col-12" >
                                    <label for="phone">Phone Number<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        aria-describedby="phone" placeholder="09xxxxxxxxx"
                                        value="{{user.phone}}" />                
                                </div>
                                <div class="col-sm-10" style="font-size: smaller; color: red"></div>
                            
                        </div>
                        <div class="form-group">
                            
                                <div class="col-12" >
                                    <label for="streetAdd">Name of Emergency Contact Person<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" id="eContactPerson" name="eContactPerson"
                                        aria-describedby="eContactPerson" placeholder="Name of Emergency Contact Person"
                                        value="{{user.eContactPerson}}" />
                                </div>
                                <div class="col-sm-12" style="font-size: smaller; color: red"></div>
                            
                        </div>
                        <div class="form-group">
                            
                                <div class="col-12" >
                                    <label for="streetAdd">Relationship<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" id="relationship" name="relationship"
                                        aria-describedby="emailHelp" placeholder="(E.g. Father, Mother, etc.)"
                                        value="{{user.relationship}}" />
                                </div>
                                <div class="col-sm-10" style="font-size: smaller; color: red"></div>
                            
                        </div>
                        <div class="form-group">
                            
                                <div class="col-12" >
                                    <label for="streetAdd">Emergency Contact Person Number<span class="text-danger"> *</span></label>
                                    <input type="text" class="form-control" id="eContactNum" name="eContactNum"
                                        aria-describedby="emailHelp" placeholder="09xxxxxxxxx"
                                        value="{{user.eContactNum}}" />
                                </div>
                                <div class="col-sm-10" style="font-size: smaller; color: red"></div>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-12" >
                                <label for="phone">Password<span style="font-weight: normal; font-size:smaller; margin-left: 5px; font-style:italic">(Min of 8 characters)</span></label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                            </div>
                            <div class="col-sm-10" style="font-size: smaller; color: red"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-12" >
                                <label for="phone">Confirm Password</span></label>
                                <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password" />
                            </div>
                           <div class="col-sm-10" style="font-size: smaller; color: red"></div>
                        </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="profile-saveChanges" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="medHistoryEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">{{user.name.last}}, {{user.name.first}} {{user.name.middle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateMedHis" method="post" action="/updateMedHis">
                    <div class="form-group">
                            <div class="col-10">
                                <label for="streetAdd">Medical Problems<span class="text-danger"> *</span></label>
                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Heart Disease" id="HeartDisease" style="margin-top: 6px" {{checkbox "Heart Disease" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Heart Disease </label>
                                </div>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Diabetes" id="Diabetes" style="margin-top: 6px" {{checkbox "Diabetes" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Diabetes </label>
                                </div>
                                <div class="form-check col-4  pb-2">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Depression" id="Depression" style="margin-top: 6px" {{checkbox "Depression" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Depression </label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Diarrhea" id="Diarrhea" style="margin-top: 6px" {{checkbox "Diarrhea" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Diarrhea </label>
                                </div>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Chest Pain" id="ChestPain" style="margin-top: 6px" {{checkbox "Chest Pain" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Chest Pain </label>
                                </div>
                                <div class="form-check col-4  pb-2">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Thyroid" id="Thyroid" style="margin-top: 6px" {{checkbox "Thyroid" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Thyroid </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Stroke" id="Stroke" style="margin-top: 6px" {{checkbox "Stroke" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Stroke </label>
                                </div>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Constipation" id="Constipation" style="margin-top: 6px" {{checkbox "Constipation" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Constipation </label>
                                </div>
                                <div class="form-check col-4  pb-2">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Heart Murmur" id="HeartMurmur" style="margin-top: 6px" {{checkbox "Heart Murmur" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Heart Murmur </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Arthritis" id="Arthritis" style="margin-top: 6px" {{checkbox "Arthritis" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Arthritis </label>
                                </div>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Nervous Disorder" id="NervousDisorder" style="margin-top: 6px" {{checkbox "Nervous Disorder" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Nervous Disorder </label>
                                </div>
                                <div class="form-check col-4 pb-2">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Stomach Ulcers" id="StomachUlcers" style="margin-top: 6px" {{checkbox "Stomach Ulcers" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Stomach Ulcers </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Hypertension" id="Hypertension" style="margin-top: 6px" {{checkbox "Hypertension" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Hypertension  </label>
                                </div>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Kidney Stones" id="KidneyStones" style="margin-top: 6px" {{checkbox "Kidney Stones" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Kidney Stones </label>
                                </div>
                                <div class="form-check col-4  pb-2">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Back Pain" id="BackPain" style="margin-top: 6px" {{checkbox "Back Pain" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Back Pain </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Heart Burn" id="HeartBurn" style="margin-top: 6px" {{checkbox "Heart Burn" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Heart Burn </label>
                                </div>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Shortness of Breath" id="ShortnessBreath" style="margin-top: 6px" {{checkbox "Shortness of Breath" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Shortness of Breath </label>
                                </div>
                                <div class="form-check col-4  pb-2">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Blood in your urine " id="BloodUrine " style="margin-top: 6px" {{checkbox "Blood in your urine" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Blood in your urine </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Blood Transfusions" id="BloodTransfusions" style="margin-top: 6px" {{checkbox "Blood Transfusions" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Blood Transfusions </label>
                                </div>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Hernia Repairs" id="HerniaRepairs" style="margin-top: 6px" {{checkbox "Hernia Repairs" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Hernia Repairs </label>
                                </div>
                                <div class="form-check col-4  pb-2">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Asthma" id="Asthma" style="margin-top: 6px" {{checkbox "Asthma" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Asthma </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Frequent Urination" id="FrequentUrination" style="margin-top: 6px" {{checkbox "Frequent Urination" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Frequent Urination </label>
                                </div>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Pain when urinating" id="Painurination" style="margin-top: 6px" {{checkbox "Pain when urinating" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Pain when urinating </label>
                                </div>
                                <div class="form-check col-4 pb-2">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Bleeding Tendency" id="Bleeding" style="margin-top: 6px" {{checkbox "Bleeding Tendency" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Bleeding Tendency </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Hepatitis" id="Hepatitis" style="margin-top: 6px" {{checkbox "Hepatitis" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Hepatitis </label>
                                </div>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Cancer" id="Cancer" style="margin-top: 6px" {{checkbox "Cancer" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Cancer </label>
                                </div>
                                <div class="form-check col-4 pb-2">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Anesthetic Reaction" id="Anesthetic" style="margin-top: 6px" {{checkbox "Anesthetic Reaction" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Anesthetic Reaction </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px" {{checkbox "Others" input.medprob}}>
                                    <label for="s-other" style="font-weight: normal; font-size: 14px"> Others</label>
                                    <div class="form-check col-1 showother" style="margin-top: -35px; margin-left: 35px">
                                        <input type="text" class="form-control" style="width: 205px" id="medprob_other" name="medprob_other" value="{{input.medprob_other}}" placeholder="" />
                                            <p style="color: red; width: 100px; margin-top: 5px; font-size: 13.5px; margin-bottom: -10px">{{details.medprob_otherError}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12" style="margin-top: 15px;">
                                    <label for="streetAdd">If applicable, please list all of your previous surgeries<span style="font-weight: normal; font-size:smaller; margin-left: 5px; font-style:italic">(Separate with a comma)</span></label>
                                    <input type="text" class="form-control" id="surgeries" name="surgeries"
                                        aria-describedby="surgeries" placeholder="(E.g. Cataract surgery, Cholecystectomy)"
                                        value="{{input.surgeries}}" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12" >
                                    <label for="streetAdd">If applicable, please list all the medications you are currently taking<span style="font-weight: normal; font-size:smaller; margin-left: 5px; font-style:italic">(Separate with a comma)</span></label>
                                    <input type="text" class="form-control" id="medications" name="medications"
                                        aria-describedby="medications" placeholder="(E.g. Prinivil, Zestril)"
                                        value="{{input.medications}}" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12" >
                                    <label for="streetAdd">If applicable, please list all the medications you are currently allergic with<span style="font-weight: normal; font-size:smaller; margin-left: 5px; font-style:italic">(Separate with a comma)</span></label>
                                    <input type="text" class="form-control" id="medallergies" name="medallergies"
                                        aria-describedby="medallergies" placeholder="(E.g. Prinivil, Zestril)"
                                        value="{{input.medallergies}}" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="medHistory-saveChanges" class="btn btn-primary">Save changes</button>
            </div>
                </form>
            </div>
            
        </div>
    </div>
</div>


    <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar navbar-expand-lg sticky-top navbar-dark");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>

    <!-- JS-->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>