<style>
    th {
        color: #2F8250 !important;
    }
</style>

<div class="container-fluid p-5">
    <p class="h1" style="color: #2F8250 ; font-family: 'Montserrat', sans-serif; font-size:13vh; ">
        Edit a Doctor </p>
    {{!-- <p style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif;">Insert caption here.</p> --}}
    <div class="card mx-auto border shadow-sm pt-2">
        <div class="card-body">
            <form method="POST" class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="doc_fname">First Name<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="doc_fname" name="doc_fname" value="{{doc.fname}}"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Enter a first name.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="doc_lname">Last Name<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="doc_lname" name="doc_lname" value="{{doc.lname}}"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Enter a last name.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="doc_specialization">Specialization<span class="text-danger"> *</span></label>
                        <select class="form-control" id="doc_specialization" name="doc_specialization" required>
                            <option disabled value="">Choose a specialization...</option>
                            <option value="Anesthesiology" {{#equals doc.specialization "Anesthesiology"
                                }}selected{{/equals}}>Anesthesiology</option>
                            <option value="Dental Medicine" {{#equals doc.specialization "Dental Medicine"
                                }}selected{{/equals}}>Dental Medicine</option>
                            <option value="Dermatology" {{#equals doc.specialization "Dermatology"
                                }}selected{{/equals}}>
                                Dermatology</option>
                            <option value="Family Medicine" {{#equals doc.specialization "Family Medicine"
                                }}selected{{/equals}}>Family Medicine</option>
                            <option value="Internal Medicine" {{#equals doc.specialization "Internal Medicine"
                                }}selected{{/equals}}>Internal Medicine</option>
                            <option value="Laboratory Medicine" {{#equals doc.specialization "Laboratory Medicine"
                                }}selected{{/equals}}>Laboratory Medicine</option>
                            <option value="Legal Medicine" {{#equals doc.specialization "Legal Medicine"
                                }}selected{{/equals}}>
                                Legal Medicine</option>
                            <option value="Nuclear Medicine" {{#equals doc.specialization "Nuclear Medicine"
                                }}selected{{/equals}}>Nuclear Medicine</option>
                            <option value="Obstetrics and Gynecology" {{#equals
                                doc.specialization "Obstetrics and Gynecology" }}selected{{/equals}}>Obstetrics and
                                Gynecology</option>
                            <option value="Occupational Medicine" {{#equals doc.specialization "Occupational Medicine"
                                }}selected{{/equals}}>Occupational Medicine</option>
                            <option value="Ophthalmology" {{#equals doc.specialization "Ophthalmology"
                                }}selected{{/equals}}>
                                Ophthalmology</option>
                            <option value="Orthopedics" {{#equals doc.specialization "Orthopedics"
                                }}selected{{/equals}}>
                                Orthopedics</option>
                            <option value="Otorhinolaryngology" {{#equals doc.specialization "Otorhinolaryngology"
                                }}selected{{/equals}}>Otorhinolaryngology</option>
                            <option value="Pediatrics" {{#equals doc.specialization "Pediatrics" }}selected{{/equals}}>
                                Pediatrics</option>
                            <option value="Radiology" {{#equals doc.specialization "Radiology" }}selected{{/equals}}>
                                Radiology</option>
                            <option value="Rehabilitation Medicine" {{#equals
                                doc.specialization "Rehabilitation Medicine" }}selected{{/equals}}>Rehabilitation
                                Medicine</option>
                            <option value="Surgery" {{#equals doc.specialization "Surgery" }}selected{{/equals}}>Surgery
                            </option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Select a specialization.
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="row d-flex align-items-center">
                        <div class="col text-left">
                            <h1>Schedule</h1>
                        </div>
                        <div class="col text-right">
                            <i class="fas fa-plus-circle fa-2x" style="color:#2F8250; cursor:pointer;"
                                onclick="addDate()"></i>
                            <i class="fas fa-minus-circle fa-2x" style="color:red; cursor:pointer;"
                                onclick="removeDate()"></i>
                        </div>
                    </div>
                </div>
                <div class="docDates">
                    {{#each doc.schedule}}
                    <div class="form-row row-doc-{{@index}}">
                        <div class="form-group col-md-6">
                            <label for="doc_day_{{@index}}">Day<span class="text-danger"> *</span></label>
                            <select class="form-control" id="doc_day_{{@index}}" name="doc_day_{{@index}}" required>
                                <option disabled value="">Choose a day...</option>
                                <option value="Monday" {{#equals day "Monday" }}selected{{/equals}}>Monday</option>
                                <option value="Tuesday" {{#equals day "Tuesday" }}selected{{/equals}}>Tuesday</option>
                                <option value="Wednesday" {{#equals day "Wednesday" }}selected{{/equals}}>Wednesday
                                </option>
                                <option value="Thursday" {{#equals day "Thursday" }}selected{{/equals}}>Thursday
                                </option>
                                <option value="Friday" {{#equals day "Friday" }}selected{{/equals}}>Friday</option>
                                <option value="Saturday" {{#equals day "Saturday" }}selected{{/equals}}>Saturday
                                </option>
                                <option value="Sunday" {{#equals day "Sunday" }}selected{{/equals}}>Sunday</option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Select a day.
                            </div>
                        </div>
                        {{#each time}}
                        <div class="form-group col-md-3">
                            <label for="doc_stime_{{@../index}}">Start Time<span class="text-danger"> *</span></label>
                            <input type="time" class="form-control time-start" id="doc_stime_{{@../index}}"
                                name="doc_stime_{{@../index}}" placeholder="HH:mm" onblur="check_time_start(this)"
                                value={{start}} required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter a start time.
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="doc_etime_{{@../index}}">End Time<span class="text-danger"> *</span></label>
                            <input type="time" class="form-control time-end" id="doc_etime_{{@../index}}"
                                name="doc_etime_{{@../index}}" placeholder="HH:mm" onblur="check_time_end(this)"
                                value={{end}} required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter an end time.
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
                <div class="form-group text-center pt-3">
                    <input type="hidden" id="doc_count" name="doc_count" value="{{count}}">
                    <input type="hidden" id="id" name="id" value="{{doc._id}}">
                    <button class="btn btn-success" type="submit">Update Doctor</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var count = "{{count}}";

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function addDate() {
        count++;
        var code = '<div class="form-row row-doc-' + count + '"><div class="form-group col-md-6"><label for="doc_day_' + count + '">Day<span class="text-danger"> *</span></label><select class="form-control" id="doc_day_' + count + '" name="doc_day_' + count + '" required><option selected disabled value="">Choose a day...</option><option value="Monday">Monday</option><option value="Tuesday">Tuesday</option><option value="Wednesday">Wednesday</option><option value="Thursday">Thursday</option><option value="Friday">Friday</option><option value="Saturday">Saturday</option><option value="Sunday">Sunday</option></select><div class="valid-feedback">Looks good!</div><div class="invalid-feedback">Select a day.</div></div><div class="form-group col-md-3"><label for="doc_stime_' + count + '">Start Time<span class="text-danger"> *</span></label><input type="time" class="form-control time-start" id="doc_stime_' + count + '" name="doc_stime_' + count + '" placeholder="HH:mm" onblur="check_time_start(this)" required><div class="valid-feedback">Looks good!</div><div class="invalid-feedback">Enter a start time.</div></div><div class="form-group col-md-3"><label for="doc_etime_' + count + '">End Time<span class="text-danger"> *</span></label><input type="time" class="form-control time-end" id="doc_etime_' + count + '" name="doc_etime_' + count + '" placeholder="HH:mm" onblur="check_time_end(this)" required><div class="valid-feedback">Looks good!</div><div class="invalid-feedback">Enter an end time.</div></div></div>'
        $(".docDates").append(code);
        $("#doc_count").val(count);
    }

    function removeDate() {
        if (count == 0) {
            alert("You cannot have no schedules at all!");
        } else {
            $(".row-doc-" + count).remove();
            count--;
            $("#doc_count").val(count);
        }
    }

    function check_time_start(time) {
        var self = $(time).val();
        var check = $(time).parent().next().children('.time-end').val();

        if (self > check) {
            $(time).parent().next().children('.time-end').val(0);
        }
    }

    function check_time_end(time) {
        var self = $(time).val();
        var check = $(time).parent().prev().children('.time-start').val();

        if (self < check) {
            alert("There's something wrong with the time interval! Please try again.");
            self = $(time).val(0);
        }
    }
</script>