<style>
    th {
        color: #2F8250 !important;
    }

    .btn-pdf{
        background-color: rgb(177, 177, 177); 
    }

    .btn-pdf:hover{
        background-color: rgb(151, 151, 151); ;
    }
</style>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <p class="h1" style="color: #2F6982 ; font-family: 'Montserrat', sans-serif; font-size:13vh;">List of Participants</p>
            {{#if result}}
                <p style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif;">List of participants for <b>{{program}}</b>.</p>
            {{else}}
                <p style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif;">Select a program to view its participants.</p>
            {{/if}}

            <form class="dirty" id="form" method="POST" action="/participants">
                <div class="card mx-auto" style="width: 50rem; margin-bottom: -60px; background-color:  rgb(243, 243, 243); font-family: 'Montserrat', sans-serif;">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-8" >
                                            <select id="program" name="program" style="border: solid 1px rgb(119, 118, 118); background-color: white; cursor: pointer; height: 38px; width: 500px; margin-bottom: 25px">
                                                <option value="0">Select a program</option>
                                                {{#each hp}}
                                                    <option value={{this._id}}>{{this.hp_name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <button id="signupbtn" type="submit" class="btn btn-primary w-100">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>

            </form>

            <input type="hidden" value="{{program}}" id="program_name">
            <div class="card ">
                {{#if remove}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 1px;">You have <span style="font-weight: bold; text-decoration:underline">successfully removed</span> participant <span style="font-weight: bold;">{{user}}</span> in <span style="font-weight: bold;">{{hp_name}}</span>.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {{/if}}
                <div class="card-body" style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif; background-color:rgba(255, 255, 255, 0.878)">
                    <div class="table-responsive text-center" id="content">
                        <table class="table text-left blog-project-table" id="participants-table">
                            <thead class=" text-primary">
                                <th style="width:15%">
                                    Name
                                </th>
                                <th style="width:15%">
                                    Address
                                </th>
                                <th style="width:8%">
                                    Gender
                                </th>
                                <th style="width:10%">
                                    Birthday
                                </th>
                                <th style="width:12%">
                                    Contact Number
                                </th>
                                <th style="width:15%">
                                    Reason
                                </th>
                                <th class="text-center" style="width:5%">

                                </th>
                            </thead>
                            <tbody id="entries-table">
                                {{#each participants}}
                                    {{> participantsCard}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{#if result}}
                <div class="row p-4">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary printBtn" style="font-family: 'Montserrat', sans-serif;"><i
                                class="fas fa-print"></i> Print</button>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>

<script>
    // List of Programs Table Sort
    $(document).ready(function () {
        $('#participants-table').DataTable({
            "aaSorting": [],
            columnDefs: [{
                orderable: false,
                targets: [6]
            }]
        })
    });

     $('.printBtn').click(function () {
        window.print();
    });

</script>