<style>
    th {
        color: #2F8250 !important;
    }
</style>

<body style="background-color: rgb(243, 243, 243); margin: 0; font-family: 'Roboto Mono';">
    <!-- Navigation Bar -->
    <!-- Sticky Vertical Navigation Bar -->
    <ul class="vertical-navbar">
        <li>
            <p class="h1 shrink gradient-text"
                style="text-align: center; margin-left: 8px; margin-top: .5rem; font-family: 'Montserrat', sans-serif;">
                DoloMed <i class="far fa-hospital"></i></p>
        </li>
        <hr>
        <li>
            <a href="/healthprograms" style="font-size: medium;">Health Programs</a>
        </li>
        <li><a href="/doctors" style="font-size: medium;">Doctors</a></li>
        <li><a href="/appointments" style="font-size: medium;">Appointments</a></li>
    </ul>

    <!-- Sticky Horizontal Navigation Bar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark"
        style="height: 72px; padding-top: 1rem; margin-left: 20%;">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <h6 style="font-family: 'Roboto Mono';">{{user.name.last}}, {{user.name.first}} {{user.name.middle}}
                </h6>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style="list-style-type: none;">
            <li class="nav-item dropdown {{#if login_active}}show{{/if}}">
                <a class="nav-link dropdown-toggle caret-off" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="{{#if login_active}}true{{else}}false{{/if}}">
                    <h6>Settings</h6>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-4 {{#if login_active}}show{{/if}}"
                    aria-labelledby="navbarDropdownMenuLink">
                    <div class="container-fluid m-auto text-center p-auto">
                        <form method="POST">
                            <div class="text-center px-3">
                                <h6><a href="/account" style="color:#2F8250;">Account</a></h6>
                                <hr>
                                <h6><a href="/logout" style="color:#2F8250;">Log Out</a></h6>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <!-- End of Navigation Bar -->

    <div class="profile-content">
        <p class="h1" style="color: #2F8250 ; font-family: 'Montserrat', sans-serif; font-size:13vh;">Hello, Patient!
        </p>
        {{!-- <p style="font-size: 130px; font-family: 'Montserrat', sans-serif; color: #2F8250">Hello, Patient!</p> --}}
        <p style="font-size: 25px; font-family: 'Montserrat', sans-serif; color: #2F8250">Here's an overview of your
            account.</p>
        <p style="color: #5C6B6B ; font-family: 'Roboto Mono',">
            Address: {{user.address}}
            <br>
            Contact Number: {{user.phone}}
            <br>
            Birthday: {{date}}
        </p>
        <hr>
        <div class="card mx-auto border shadow-sm" style="width: 973px; margin-bottom: 2rem;">
            <div class="card-body">
                <div class="card-title" style="font-size: 45px; font-family: 'Montserrat', sans-serif; color: #2F8250;">
                    Your
                    Appointments</div>
                <div class="card mx-auto " style="width: 913px; margin-bottom: 2rem;">
                    <div class="table-responsive text-center">
                        <table class="table text-left" id="profileapp-table">
                            <thead class=" text-primary">
                                <th style="width:51%">
                                    Appointment Name
                                </th>
                                <th style="width:22%">
                                    Time
                                </th>
                                <th style="width:22%">
                                    Date
                                </th>
                                <th class="text-center" style="width:5%"></th>
                                <th class="text-center" style="width:5%"></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Data 1
                                    </td>
                                    <td>
                                        12:00
                                    </td>
                                    <td>
                                        2021-03-21
                                    </td>
                                    <td class="text-center">
                                        <small><a class="btn btn-success" role="button"
                                                onclick="reschedApp()">Reschedule</a></small>
                                    </td>
                                    <td class="text-center">
                                        <small><a class="btn btn-danger" role="button"
                                                onclick="cancelApp()">Cancel</a></small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Data 2
                                    </td>
                                    <td>
                                        13:00
                                    </td>
                                    <td>
                                        2021-01-12
                                    </td>
                                    <td class="text-center">
                                        <small><a class="btn btn-success" role="button"
                                                onclick="reschedApp()">Reschedule</a></small>
                                    </td>
                                    <td class="text-center">
                                        <small><a class="btn btn-danger" role="button"
                                                onclick="cancelApp()">Cancel</a></small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mx-auto border shadow-sm" style="width: 973px; margin-bottom: 2rem;">
            <div class="card-body">
                <div class="card-title" style="font-size: 45px; font-family: 'Montserrat', sans-serif; color: #2F8250;">
                    Your Health
                    Programs</div>
                <div class="card mx-auto" style="width: 913px; margin-bottom: 2rem;">
                    <div class="table-responsive text-center">
                        <table class="table text-left" id="profilehp-table">
                            <thead class=" text-primary">
                                <th style="width:50%">
                                    Health Program Name
                                </th>
                                <th style="width:20%">
                                    Time
                                </th>
                                <th style="width:20%">
                                    Date
                                </th>
                                <th class="text-center" style="width:5%"></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Data 1
                                    </td>
                                    <td>
                                        12:00
                                    </td>
                                    <td>
                                        2020-12-23
                                    </td>
                                    <td class="text-center">
                                        <small><a class="btn btn-danger" role="button"
                                                onclick="cancelHP()">Cancel</a></small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Data 2
                                    </td>
                                    <td>
                                        08:00
                                    </td>
                                    <td>
                                        2020-11-22
                                    </td>
                                    <td class="text-center">
                                        <small><a class="btn btn-danger" role="button"
                                                onclick="cancelHP()">Cancel</a></small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Data 3
                                    </td>
                                    <td>
                                        15:00
                                    </td>
                                    <td>
                                        2020-12-30
                                    </td>
                                    <td class="text-center">
                                        <small><a class="btn btn-danger" role="button"
                                                onclick="cancelHP()">Cancel</a></small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#profilehp-table').DataTable({
                "aaSorting": [],
                columnDefs: [{
                    orderable: false,
                    targets: [3]
                }]
            })
        });

        $(document).ready(function () {
            $('#profileapp-table').DataTable({
                "aaSorting": [],
                columnDefs: [{
                    orderable: false,
                    targets: [3, 4]
                }]
            })
        });

        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("navbar navbar-expand-lg sticky-top navbar-dark");
        var sticky = navbar.offsetTop;

        function cancelApp() {
            confirm("Are you sure you want to cancel this appointment?")
        }

        function reschedApp() {
            alert("Insert resched modal here")
        }

        function cancelHP() {
            confirm("Are you sure you want to cancel this health program?")
        }

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>