<style>
    th {
        color: #2F8250 !important;
    }
</style>

<body style="background-color: rgb(243, 243, 243); margin: 0; font-family: 'Roboto Mono';">
    <!-- Navigation Bar -->
    <!-- Sticky Vertical Navigation Bar -->
    
    {{> profileSidebar}}

    <!-- Sticky Horizontal Navigation Bar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark"
        style="height: 72px; padding-top: 1rem; margin-left: 20%;">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <h6 style="font-family: 'Roboto Mono';">{{user.name.last}}, {{user.name.first}} {{user.name.middle}}
                </h6>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style="list-style-type: none;">
            <li class="nav-item dropdown {{#if login_active}}show{{/if}}">
                <a class="nav-link dropdown-toggle caret-off" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="{{#if login_active}}true{{else}}false{{/if}}">
                    <h6><i class="fas fa-cog" style="padding-right: 7px;"></i>Settings</h6>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-4 {{#if login_active}}show{{/if}}"
                    aria-labelledby="navbarDropdownMenuLink">
                    <div class="container-fluid m-auto text-center p-auto">
                        <form method="POST">
                            <div class="text-center px-3">
                                <h6><a href="/account" style="color:#2F8250;">Account</a></h6>
                                <hr>
                                <h6><a href="/logout" style="color:#2F8250;">Log Out</a></h6>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <!-- End of Navigation Bar -->

    <div class="profile-content">
        <p class="h1" style="color: #2F8250 ; font-family: 'Montserrat', sans-serif; font-size:13vh;">Hello,
            {{user.name.first}}!
        </p>
        <p style="font-size: 25px; font-family: 'Montserrat', sans-serif; color: #2F8250">Here's an overview of your
            account.</p>
        <p style="color: #5C6B6B ; font-family: 'Roboto Mono',">
            Address: {{user.address}}
            <br>
            Contact Number: {{user.phone}}
            <br>
            Birthday: {{dateFormat user.birthdate "YYYY-MM-DD"}}
        </p>
        <hr>
        <div class="card mx-auto border shadow-sm"
            style="width: 973px; margin-bottom: 2rem; background-color:rgba(255, 255, 255, 0.878)">
            <div class="card-body" style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif; font-size: 15px">
                <div class="card-title" style="font-size: 45px; font-family: 'Montserrat', sans-serif; color: #2F8250;">
                    Your
                    Appointments
                    <small><a class="btn btn-success" role="button" href="/appointments"
                            style="float: right; margin-top: 15px;"><i class="fas fa-plus-circle"
                                style="padding-right: 5px"></i>Add Appointments</a></small>
                </div>
                <div class="card mx-auto " style="width: 913px; margin-bottom: 2rem;">
                    {{#if doctor_alert}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert"
                        style="margin-bottom: 20px;">
                        You have <span style="font-weight: bold; text-decoration:underline">successfully cancelled</span> your appointment with <span style="font-weight: bold;">{{doctor_success}}</span>.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}

                    {{#if resched_alert}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert"
                        style="margin-bottom: 20px;">
                        You have <span style="font-weight: bold; text-decoration:underline">successfully rescheduled</span> your appointment with <span style="font-weight: bold;">{{doctor_success}}</span>.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}

                    <div class="table-responsive text-center">
                        <table class="table text-left" id="profileapp-table">
                            <thead class=" text-primary">
                                <th style="width:51%">
                                    Appointment Name
                                </th>
                                <th style="width:22%">
                                    Time
                                </th>
                                <th style="width:22%">
                                    Date
                                </th>
                                <th class="text-center" style="width:5%"></th>
                                <th class="text-center" style="width:5%"></th>
                            </thead>
                            <tbody>
                                {{#each appList}}
                                {{> userdocCard}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Cancel Appointment Modal --}}
        <div class="modal fade" id="cancelAppointment" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
            style="font-size: 45px; font-family: 'Montserrat', sans-serif; color: #2F8250;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="cancelMessage"></p>
                    </div>
                    <div class="modal-footer text-right" style="display:initial;">
                        <button type="submit" class="btn btn-danger modalCancelButton" onclick="">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mx-auto border shadow-sm"
            style="width: 973px; margin-bottom: 2rem; background-color:rgba(255, 255, 255, 0.878)">
            <div class="card-body" style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif; font-size: 15px">
                <div class="card-title" style="font-size: 45px; font-family: 'Montserrat', sans-serif; color: #2F8250;">
                    Your Health
                    Programs
                    <small><a class="btn btn-success" role="button" href="/healthprogram"
                            style="float: right; margin-top: 15px;"> <i class="fas fa-plus-circle"
                                style="padding-right: 5px"></i>Add Health Programs</a></small>
                </div>
                <div class="card mx-auto" style="width: 913px; margin-bottom: 2rem;">
                    {{#if alert}}
                    <div class="alert alert-success alert-dismissible fade show" role="alert"
                        style="margin-bottom: 20px;">
                        You have <span style="font-weight: bold; text-decoration:underline">successfully cancelled
                        </span>
                        your registration to <span style="font-weight: bold;">{{success}}</span>.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                    <div class="table-responsive text-center">
                        <table class="table text-left" id="profilehp-table">
                            <thead class=" text-primary">
                                <th style="width:50%">
                                    Health Program Name
                                </th>
                                <th style="width:20%">
                                    Time
                                </th>
                                <th style="width:20%">
                                    Date
                                </th>
                                <th class="text-center" style="width:5%"></th>
                            </thead>
                            <tbody>
                                {{#each healthprograms}}
                                {{> userhprogramsCard}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#profilehp-table').DataTable({
                "aaSorting": [],
                columnDefs: [{
                    orderable: false,
                    targets: [3]
                }]
            })
        });

        $(document).ready(function () {
            $('#profileapp-table').DataTable({
                "aaSorting": [],
                columnDefs: [{
                    orderable: false,
                    targets: [3, 4]
                }]
            })
        });

        function cancelApp(id, date) {
            var todayDate = new Date();
            var destDate = new Date(date);
            var Difference_In_Time = destDate.getTime() - todayDate.getTime();
            var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);

            var modalID = 'doc' + id;

            if (Difference_In_Days <= 7) {
                $('.cancelDocAppointmentSuccess').attr('style', 'display: none');
                $('.cancelDocAppointmentFail').attr('style', 'display: initial');
                $('.cancelDocAppointmentButton').attr('style', 'display: none');
                $('#' + modalID).modal('show');
            } else {
                $('.cancelDocAppointmentFail').attr('style', 'display: none');
                $('.cancelDocAppointmentSuccess').attr('style', 'display: initial');
                $('.cancelDocAppointmentButton').attr('style', 'display: initial');
                $('#' + modalID).modal('show');
            }
        }

        function reschedApp() {
            alert("Insert resched modal here")
        }

        function cancelHP() {
            confirm("Are you sure you want to cancel this health program?")
        }

        window.onscroll = function () { myFunction() };

        var navbar = document.getElementById("navbar navbar-expand-lg sticky-top navbar-dark");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>