<style>
    th {
        color: #2F8250 !important;
    }
</style>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <p class="h1" style="color: #2F8250 ; font-family: 'Montserrat', sans-serif; font-size:13vh;">Appointment
                Records</p>
            <p style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif;">
                {{#if post_rec}}
                Appointments in <b>{{dateFormat date "MMMM DD, YYYY"}}</b>.
                {{else}}
                Pick a date to show all the appointments within that day.
                {{/if}}
            </p>

            <form class="needs-validation" id="form" method="POST" novalidate>
                <div class="card mx-auto"
                    style="width: 50rem; margin-bottom: -60px; background-color:  rgb(243, 243, 243); font-family: 'Montserrat', sans-serif;">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-8 ">
                                            {{!-- <select id="record_date" name="record_date" class="form-control"
                                                style="border: solid 1px rgb(119, 118, 118); background-color: white; cursor: pointer; height: 38px;  margin-bottom: 25px"
                                                required>
                                                <option value="" selected disabled>Select a date</option>
                                                {{#each app}}
                                                <option value={{dateFormat this.appointment_date "YYYY-MM-DD" }}>
                                                    {{dateFormat
                                                    this.appointment_date "MMMM DD, YYYY"}}
                                                </option>
                                                {{/each}}
                                            </select> --}}
                                            <input type="date" class="form-control" id="record_date" name="record_date"
                                                placeholder="mm/dd/yyyy" value="" required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Choose a date.
                                            </div>
                                        </div>
                                        <div class="col-4 text-center">
                                            <button id="signupbtn" type="submit" class="btn btn-primary"
                                                style="width: 100%;">Search</button>
                                            {{!-- <button class="btn btn-success" type="submit">Search</button> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card print">
    {{#if remove}}
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 1px;">You have <span
            style="font-weight: bold; text-decoration:underline">successfully removed</span> {{user}} in {{hp_name}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
    <div class="card-body"
        style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif; background-color:rgba(255, 255, 255, 0.878)">
        <div class="table-responsive ">
            <table class="table text-left" id="record-table">
                <thead class="text-primary">
                    <th style="width:20%">
                        Name
                    </th>
                    <th style="width:20%">
                        Address
                    </th>
                    <th style="width:10%">
                        Gender
                    </th>
                    <th style="width:15%">
                        Birthday
                    </th>
                    <th style="width:15%">
                        Time Slot
                    </th>
                    <th style="width:20%">
                        Doctor
                    </th>
                    {{!-- <th class="text-center" style="width:5%"></th> --}}
                </thead>
                <tbody>
                    {{#each select_app}}
                    {{> recordsCard}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row p-4">
    <div class="col text-center">
        <button type="button" class="btn btn-primary printBtn" style="font-family: 'Montserrat', sans-serif;"><i
                class="fas fa-print"></i> Print</button>
    </div>
</div>
</div>
</div>
</div>


<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    // List of Programs Table Sort
    $(document).ready(function () {
        $('#record-table').DataTable({
            "aaSorting": [],
            columnDefs: [{
                orderable: false,
                //targets: [6]
            }]
        })
    });

    $('.printBtn').click(function () {
        window.print();
    });

</script>